<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>FableShelf</title>
</head>
<body>
    <div class="content">
        {% include "parts/menu.html" %}

        <div class="authors-cards">
            {% for author in authors %}
                <div class="author-card">
                    <a href="{% url 'catalogue_module:author_page' author.id %}">
                        <div class="author-ico">
                            <img src="{{ author.image.url }}" alt="{{ author.name }}">
                        </div>
                        <p>{{ author.name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
