<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>FableShelf</title>
</head>
<body>
    <div class="content auth-page">
        <div class="menu">
            <a href="#">
                <div class="logo">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </div>
            </a>

            <div class="buttons">
                <a href="#">
                    <div class="btn"><p>Каталог</p></div>
                </a>
                <a href="#">
                    <div class="btn"><p>Авторы</p></div>
                </a>
                <a href="#">
                    <div class="btn"><p>FAQ</p></div>
                </a>
            </div>

            <div class="search">
                <form action="#" method="post" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" placeholder="Искать" required>
                    <input type="submit" value="">
                </form>
            </div>

            <div class="buttons">
                <a href="#">
                    <div class="btn"><p>Корзина</p></div>
                </a>
                <a href="#">
                    <div class="btn"><p>Профиль</p></div>
                </a>
            </div>
        </div>

        <div class="auth">
            <form action="{% url 'auth_module:login_user' %}" method="post" autocomplete="off">
                {% csrf_token %}
                <label for="user-email">Электронная почта</label>
                <input type="email" name="user-email" id="user-email" placeholder="example@mail.com" required>
    
                <label for="user-pass">Пароль</label>
                <input type="password" name="user-pass" id="user-pass" placeholder="Пароль" required>
    
                <input type="submit" value="Войти">
            </form>
        </div>

        <div class="message">
            {% if message %}
                <h2>{{ message }}</h2>
            {% endif %}
        </div>

        <div class="column-wrapper">
            <div class="auth-suggestion">
                <span>Ещё нет аккаунта?</span><a href="#"> Зарегистрироваться</a>
            </div>
            <div class="auth-suggestion">
                <span>Забыли пароль?</span><a href="#"> Восстановить пароль</a>
            </div>
        </div>
    </div>
</body>
</html>
