.content .book-data .summary .stock-data .btn, .content .banner .btn, .content .menu .buttons .btn, .content .menu .buttons, .content .profile .user-data .btn, .content, a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .menu, .content .auth-suggestion, .column-wrapper, .auth-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index-page {
  display: flex;
  align-self: center;
  justify-content: flex-start;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: "Merriweather", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: auto;
  overflow-x: hidden;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: auto;
  height: 100%;
}

p {
  font-size: 20px;
}

.auth-page .column-wrapper {
  position: relative;
  bottom: 10vh;
}

.column-wrapper {
  flex-direction: column;
}

.content {
  width: 70%;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
  flex-direction: column;
}
.content .profile {
  flex: 1;
  width: 70vw;
  display: flex;
  flex-direction: row;
}
.content .profile .user-data {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1vh 0 1vh 1vw;
}
.content .profile .user-data .btn {
  background-color: rgb(17, 45, 78);
  text-align: center;
  width: 10vw;
  height: 3.5vh;
  border: none;
  margin: 1vh 7vw;
  border-radius: 5px;
}
.content .profile .user-data .btn p {
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.content .profile .user-data .btn:hover {
  background-color: rgb(28, 56, 96);
}
.content .profile .user-data form {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1vh 0 0 0;
}
.content .profile .user-data label {
  margin: 1vh 0 0 0;
}
.content .profile .user-data input[type=text], .content .profile .user-data input[type=tel], .content .profile .user-data input[type=email], .content .profile .user-data input[type=password] {
  color: black;
  height: 3.5vh;
  width: 100%;
  text-indent: 0.5vw;
  border-radius: 5px;
  background-color: rgb(210, 210, 210);
  border: none;
}
.content .profile .user-data input[type=submit] {
  background-color: rgb(17, 45, 78);
  width: 10vw;
  height: 3.5vh;
  color: rgb(255, 255, 255);
  border: none;
  margin: 1vh 7vw 0 7vw;
  border-radius: 5px;
}
.content .profile .user-data input[type=submit]:hover {
  background-color: rgb(28, 56, 96);
}
.content .profile .order-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1vh 1vh 0 1vw;
}
.content .profile .order-history p {
  align-self: start;
}
.content .profile .order-history table {
  width: auto;
  align-self: start;
  margin: 1vh 0 0 0;
}
.content .profile .order-history tr, .content .profile .order-history td, .content .profile .order-history table {
  border: solid rgb(0, 0, 0) 2px;
  border-collapse: collapse;
}
.content .profile .order-history td {
  text-align: center;
  padding: 0.6vh 0.3vw;
  font-size: 16px;
}
.content .profile .order-history td:nth-child(1) {
  width: 3vw;
}
.content .profile .order-history td:nth-child(2) {
  min-width: 7vw;
  max-width: 12vw;
}
.content .profile .order-history td:nth-child(3) {
  width: 4vw;
}
.content .cart {
  flex: 1;
  padding: 2vh;
}
.content .cart table {
  width: auto;
}
.content .cart tr, .content .cart td, .content .cart table {
  border: solid rgb(0, 0, 0) 2px;
  border-collapse: collapse;
}
.content .cart td {
  text-align: center;
  padding: 0.6vh 0.3vw;
  font-size: 16px;
}
.content .cart td:nth-child(1) {
  width: 3vw;
}
.content .cart td:nth-child(2) {
  width: 7vw;
}
.content .cart td:nth-child(3) {
  width: 3vw;
}
.content .cart td:nth-child(4) {
  width: 6vw;
}
.content .cart td:nth-child(5) {
  width: 6vw;
}
.content .out-of-stock {
  filter: brightness(30%);
}
.content .out-of-stock:hover {
  filter: none;
}
.content .search-text {
  margin: 0.4vh 0 0 0;
  align-self: start;
  padding: 0 0 0 1vw;
}
.content .catalogue-page {
  display: flex;
  flex-direction: row;
}
.content .catalogue-page .items {
  flex: 1;
  display: grid;
  width: 58vw;
  grid-template-columns: repeat(3, 19vw);
  grid-auto-rows: 24vh;
}
.content .catalogue-page .items .book {
  transform: scale(0.8);
  margin: 0 auto;
}
.content .categories {
  width: 12vw;
  height: 92vh;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 3px solid rgb(210, 210, 210);
  padding: 0 0 0 3px;
}
.content .categories a {
  height: auto;
}
.content .categories a:nth-of-type(even) {
  background-color: rgb(210, 210, 210);
}
.content .categories .category {
  width: 100%;
  height: 4vh;
  justify-content: center;
  text-align: left;
  padding: 0 0 0 1vw;
}
.content .authors-books {
  flex: 1;
  display: grid;
  width: 70vw;
  justify-content: space-between;
  margin: 1vh 0 0 0;
  row-gap: 2vh;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 24vh;
}
.content .authors-books .book {
  margin: 0 auto;
}
.content .authors-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 33vh;
  row-gap: 2vh;
  width: 70vw;
  flex: 1;
  margin: 2vh 0 0 0;
  justify-content: space-between;
}
.content .authors-cards .author-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 32vh;
  width: 12vw;
  text-align: center;
  margin: auto;
}
.content .authors-cards .author-card a {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  border: 2px solid rgb(17, 45, 78);
}
.content .authors-cards .author-card .author-ico {
  height: 29vh;
  width: 12vw;
}
.content .authors-cards .author-card .author-ico img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.content .auth form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  height: auto;
  position: relative;
  top: 7vh;
}
.content .auth form input:not([type=submit]):not([type=checkbox]):not([type=radio]) {
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 18vw;
  height: 4.5vh;
  text-indent: 0.5vw;
  border: none;
  border-radius: 5px;
  background-color: rgb(210, 210, 210);
}
.content .auth form input[type=submit] {
  color: white;
  font-size: 16px;
  width: 18vw;
  height: 4.5vh;
  text-indent: 0.5vw;
  border: none;
  border-radius: 5px;
  background-color: rgb(17, 45, 78);
}
.content .auth form input[type=submit]:hover {
  background-color: rgb(28, 56, 96);
}
.content .auth form input:not(:last-child) {
  margin: 0 0 1vh 0;
}
.content .auth-suggestion {
  flex-direction: row;
}
.content .auth-suggestion a {
  margin: 0 0 0 1vh;
  text-decoration: underline;
}
.content span {
  display: inline;
}
.content label {
  align-self: flex-start;
  margin: 0 0 0.5vh 0;
}
.content .message {
  height: 3vh;
  width: auto;
}
.content .menu {
  position: sticky;
  z-index: 100;
  top: 0;
  width: 98%;
  height: 8vh;
  padding: 0 1%;
  background-color: rgb(17, 45, 78);
}
.content .menu p {
  color: rgb(255, 255, 255);
}
.content .menu .logo {
  height: 90%;
  aspect-ratio: 1/1;
}
.content .menu .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content .menu .logo:hover {
  scale: 1.2;
}
.content .menu .buttons {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.content .menu .buttons .btn {
  width: auto;
  height: 100%;
  padding: 0 1vh;
}
.content .menu .buttons .btn:hover {
  background-color: rgb(28, 56, 96);
}
.content .menu .search {
  width: 40%;
  height: 50%;
}
.content .menu .search form {
  position: relative;
  width: 100%;
  height: 100%;
}
.content .menu .search form input[type=text] {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: none;
  text-indent: 0.5vw;
}
.content .menu .search form input[type=submit] {
  position: absolute;
  top: 5%;
  right: 0.5%;
  height: 90%;
  width: 1.8vw;
  border: none;
  border-radius: 50%;
  background-image: url("../images/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.content .menu .search form input[type=submit]:hover {
  scale: 1.1;
}
.content .banner {
  position: relative;
  height: 57vh;
  width: 100%;
}
.content .banner img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.content .banner .btn {
  position: absolute;
  width: 2vw;
  height: 2vw;
  z-index: 99;
  border: solid rgb(0, 0, 0) 1px;
  background-color: rgb(17, 45, 78);
  border-radius: 50%;
}
.content .banner .btn:hover {
  background-color: rgb(28, 56, 96);
}
.content .banner .prev {
  left: 2.5%;
  top: 50%;
}
.content .banner .next {
  right: 2.5%;
  top: 50%;
}
.content .category {
  width: 140%;
  display: flex;
  flex-direction: column;
  margin: 0.6vh 0 0 0;
  align-self: start;
}
.content .category h3 {
  text-indent: 0.3vw;
}
.content .category .category-items {
  display: flex;
  overflow: hidden;
  width: 100%;
  flex-direction: row;
  margin: 0.3vh 0;
  position: relative;
}
.content .category .category-items .book .hidden-book {
  opacity: 0;
}
.content .category p {
  color: rgb(0, 0, 0);
}
.content .book-cover {
  margin: 1vw 1vw 0 0;
  width: 15vw;
  aspect-ratio: 9/14;
}
.content .book-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .reviews {
  flex: 1;
  display: flex;
  align-self: start;
  margin: 1vw;
}
.content .reviews .review-block {
  display: flex;
  flex-direction: column;
  padding: 1vh 0;
}
.content .reviews .review-block .review {
  border-radius: 5px;
  margin: 1vh 0.5vw;
  padding: 0.3vh;
  border: solid rgb(210, 210, 210) 1px;
}
.content .reviews .review-block .review:last-child, .content .reviews .review-block .review:first-child {
  margin: 0 0.5vw;
}
.content .reviews .review-block .review:nth-of-type(2) {
  background-color: rgb(210, 210, 210);
}
.content .reviews .review-block .review .user-data {
  display: flex;
  flex-direction: row;
}
.content .reviews .review-block .review p, .content .reviews .review-block .review b {
  font-size: 14px;
}
.content .reviews form {
  display: flex;
  flex-direction: column;
}
.content .reviews form input[type=submit] {
  margin: 0 0 0 8.5vw;
  width: 8vw;
  height: 4vh;
  background-color: rgb(17, 45, 78);
  color: rgb(255, 255, 255);
}
.content .reviews form input[type=submit]:hover {
  background-color: rgb(28, 56, 96);
}
.content .reviews form input[type=submit]:disabled {
  background-color: rgb(17, 45, 78);
  cursor: not-allowed;
}
.content .reviews form textarea {
  width: 16vw;
  height: 8vh;
  padding: 0.2vh 0.2vw;
}
.content .book-data {
  display: flex;
  flex-direction: row;
  min-height: 50vh;
  height: auto;
  width: 100%;
}
.content .book-data .summary {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 0 0 1vw;
}
.content .book-data .summary .price-tag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1vh 0 0 0;
}
.content .book-data .summary .price-tag .old-price {
  text-decoration: line-through;
  font-size: 10px;
  align-self: start;
}
.content .book-data .summary .stock-data {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content .book-data .summary .stock-data .btn {
  margin: 0 0.4vw;
  width: 7vw;
  height: 4vh;
  border-radius: 5px;
  background-color: rgb(17, 45, 78);
}
.content .book-data .summary .stock-data .btn:hover {
  background-color: rgb(28, 56, 96);
}
.content .book-data .summary .stock-data .btn p {
  color: rgb(255, 255, 255);
}
.content .book-data .description {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: auto;
  padding: 1vw 1vw 0 0;
}
.content hr {
  margin: 0.5vh 0;
  width: auto;
  background-color: rgb(210, 210, 210);
}

@font-face {
  font-family: "Merriweather";
  src: url("../fonts/Merriweather.woff2");
}
.book {
  height: 24vh;
  width: 20vw;
  margin: 0 1.5%;
  display: flex;
  flex-direction: row;
  background-color: rgb(210, 210, 210);
}
.book img {
  width: 40%;
  height: 100%;
  object-fit: fill;
}
.book .info {
  width: 60%;
  display: grid;
  grid-template-rows: auto;
  align-items: center;
}
.book .info p {
  margin: 0 0 0 0.3vw;
}
.book .info p:last-child {
  margin: 0;
}
.book .info .title {
  font-size: 22px;
}
.book .info .author {
  font-size: 18px;
}
.book .info .data {
  font-size: 16px;
  display: flex;
  flex-direction: row;
}
.book .info .data .old-price {
  text-decoration: line-through;
  font-size: 10px;
  align-self: start;
}

@media screen and (max-width: 1366px) and (max-height: 768px) {
  p {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
