$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$grey: rgba(210, 210, 210, 1);
$gold: rgba(214, 185, 54, 0.85);
$blue: rgba(17, 45, 78, 1);
$blue-hover: rgb(28, 56, 96);

%flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

* {
    list-style: none;
    margin: 0;
    padding: 0;
    color: $black;
    font-family: "Merriweather", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    color: $black;
    text-decoration: none;
    width: auto;
    height: 100%;
    @extend %flex-center;
}

p {
    font-size: 20px;
}

.auth-page {
    @extend %flex-between;

    .column-wrapper {
        position: relative;
        bottom: 10vh;
    }
}

.column-wrapper {
    @extend %flex-between;
    flex-direction: column;
}

.content {
    width: 70%;
    height: 100vh;
    background-color: $white;
    @extend %flex-center;
    flex-direction: column;

    .auth {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            height: auto;
            position: relative;
            top: 7vh;

            input:not([type="submit"]):not([type="checkbox"]):not([type="radio"]) {
                color: $black;
                font-size: 16px;
                width: 18vw;
                height: 4.5vh;
                text-indent: .5vw;
                border: none;
                border-radius: 5px;
                background-color: $grey;
            }

            input[type="submit"] {
                color: white;
                font-size: 16px;
                width: 18vw;
                height: 4.5vh;
                text-indent: .5vw;
                border: none;
                border-radius: 5px;
                background-color: $blue;

                &:hover {
                    background-color: $blue-hover;
                }
            }

            input:not(:last-child) {
                margin: 0 0 1vh 0;
            }
        }
    }

    .auth-suggestion {
        @extend %flex-between;
        flex-direction: row;

        a {
            margin: 0 0 0 1vh;
            text-decoration: underline;
        }
    }

    span {
        display: inline;
    }

    label{
        align-self: flex-start;
        margin: 0 0 .5vh 0;
    }

    .message{
        height: 3vh;
        width: auto;
    }

    .menu {
        width: 98%;
        height: 8%;
        padding: 0 1%;
        background-color: $blue;
        @extend %flex-between;

        p {
          color: $white;
        }

        .logo {
            height: 90%;
            aspect-ratio: 1/1;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            &:hover {
                scale: 1.2;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            height: 100%;
            @extend %flex-center;

            .btn {
                width: auto;
                height: 100%;
                padding: 0 1vh;
                @extend %flex-center;

                &:hover {
                    background-color: $blue-hover;
                }
            }
        }

        .search {
            width: 40%;
            height: 50%;

            form {
                position: relative;
                width: 100%;
                height: 100%;

                input[type="text"] {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    border: none;
                    text-indent: .5vw;
                }

                input[type="submit"] {
                    position: absolute;
                    top: 5%;
                    right: .5%;
                    height: 90%;
                    width: 1.8vw;
                    border: none;
                    border-radius: 50%;
                    background-image: url("../images/search.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    cursor: pointer;

                    &:hover {
                        scale: 1.1;
                    }
                }
            }
        }
    }

    .banner{
        position: relative;
        height: 57%;
        width: 100%;
        background-color: $gold;

        img {
            position: absolute;
            top: 0;
            left: 0;
            object-fit: fill;
            width: 100%;
            height: 100%;
        }

        .btn {
            position: absolute;
            width: 2vw;
            height: 2vw;
            @extend %flex-center;
            z-index: 100;
            border: solid $black 1px;
            background-color: $blue;
            border-radius: 50%;

            &:hover {
                background-color: $blue-hover;
            }
        }

        .prev {
            left: 2.5%;
            top: 50%;
        }

        .next {
            right: 2.5%;
            top: 50%;
        }
    }

    .category {
        height: 35%;
        width: 100%;
        display: flex;
        flex-direction: column;

        p {
            color: $black;
        }

        .book {
            height: 100%;
            aspect-ratio: 9/16;

            img {
                width: 100%;
                height: 100%;
                object-fit: fill;
            }
        }
    }
}

@font-face {
    font-family: "Merriweather";
    src: url("../fonts/Merriweather.woff2");
}
