{% load static %}

<div class="menu">
    <a href="{% url 'main' %}">
        <div class="logo">
            <img src="{% static 'images/logo.png' %}">
        </div>
    </a>

    <div class="buttons">
        <a href="{% url 'catalogue_module:catalogue' 1 %}">
            <div class="btn"><p>Каталог</p></div>
        </a>
        <a href="{% url 'catalogue_module:authors_page' %}">
            <div class="btn"><p>Авторы</p></div>
        </a>
        <a href="{% url 'catalogue_module:discounts_page' %}">
            <div class="btn"><p>Скидки</p></div>
        </a>
    </div>

    <div class="search">
        <form action="{% url 'catalogue_module:search' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <input type="text" placeholder="Искать" id="search" name="search" required>
            <input type="submit" value="">
        </form>
    </div>

    <div class="buttons">
        <a href="{% url 'catalogue_module:cart_page' %}">
            <div class="btn"><p>Корзина</p></div>
        </a>
        <a href="{% url 'profile' %}">
            <div class="btn"><p>Профиль</p></div>
        </a>
    </div>
</div>
